.checkbox {
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px $bg-dark, 0 0 0 4px $light;
  &.checked {
    background-color: $light;
  }
  &.disabled {
    pointer-events: none;
  }
}