button {
  background-color: inherit;
  color: inherit;
  border: 1px solid $light;
  padding: 5px 15px;
  transition: .3s;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: $bg-input;
  }
  &:disabled {
    pointer-events: none;
  }
  &:disabled:hover {
    background-color: unset;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $bg-dark inset !important;
  caret-color: $light;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $light !important;
}

input {
  font-size: 1.1rem;
  background-color: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid $light;
  outline: none;
  padding-block: 5px;
  width: 100%;
}

textarea {
  background-color: inherit;
  width: 100%;
  border-radius: 5px;
  color: $light;
  border-color: $light;
  padding: 5px;
}

.login-form, .sign-up-form {

  max-width: 350px;
  margin: 100px auto 0;

  label {
    font-size: .9rem;
    color: #5a5c6e;
    display: block;
    margin-bottom: 5px;
  }

  input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }

  .error {
    margin-top: 5px;
  }

}

input[type="color"] {
  -webkit-appearance: none;
  padding: 0;
  width: 20px;
  height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

select, option {
  background-color: $bg-input;
  color: $light;
  border-color: $light;
  padding: 5px;
}
option {
  padding: 5px !important;
  display: inline-block;
}
