.home {
  line-height: 1.7;

  h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  p {
    text-align: center;
  }
  ul {
    padding-inline: 20px;
    max-width: 350px;
    margin-bottom: 40px;
  }
  li {
    list-style: unset;
    font-style: italic;
  }
  .star-with-brackets {
    white-space: nowrap;
  }
  & > * {
    max-width: 450px;
    margin: 0 auto;
  }
  a {
    color: #1e6e88;
    transition: .2s;
    &:hover {
      color: #269cc2;
    }
  }
}