nav {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $purple;
  padding: 10px 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
  }

  a {
    display: inline-block;
    color: $light;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
    padding: 5px 15px;
  }

  .home-link {
    padding-inline: 0
  }

  .buttons {
    max-width: 100%
  }

  a:hover {
    background-color: inherit;
    color: $bg-input;
  }

  a.active {
    text-decoration: underline;
  }

  .user-logout-btn {
    // todo star not aligns well on desktop
    cursor: pointer;
  }

  .user-logout-btn .star {
    width: 10px;
    margin-left: 5px;
  }

  .logout {
    display: flex;
    align-items: center;
  }

  .current-user {
    display: flex;
    align-items: center;
    border-left: 3px solid $light;
    white-space: nowrap;
    padding-right: 0;
    overflow-x: auto;
    max-width: max(100px, 20vw);
  }

  hr {
    margin-top: 5px;
    height: 1px;
    border-width: 0;
    background-color: $light;
    width: 100%;
  }

  .profile-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .bell {
    .icon {
      width: 20px;
      height: 20px;
    }
    position: relative;
    margin-left: 10px;
    .count {
      display: grid;
      place-content: center;
      position: absolute;
      content: '';
      top: -5px;
      right: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: red;
      font-size: .8rem;
      font-weight: 700;
      color: $light;
    }
  }

  @media (max-width: 470px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: .4s;

    &.active {
      transform: translateX(0);
    }
    .home-link {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    ul {
      flex-direction: column;
      align-items: flex-start;

      a {
        padding-inline: 0;
        font-size: 1.2rem;
      }
    }
    .buttons {
      width: 100%;
    }
    .current-user {
      border-left: none;
      padding-left: 0;
      max-width: unset;
      pointer-events: none;
    }
    .user-logout-btn {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
  }
}

.menu-toggle {
  position: absolute;
  display: none;
  z-index: 50;
  font-size: 1.7rem;
  top: 10px;
  right: 15px;


  @media (max-width: 470px) {
    display: block;
  }
}

.nav-dropdown {
  ul {
    border-radius: 0;
  }

  a {
    //transition: .3s !important;
    &.active {
      text-decoration: underline
    }

    font-weight: 700;

    &:hover {
      color: $bg-input !important;
    }

    color: $light;
  }

  @media (max-width: 470px) {
    .nav-dropdown {
      display: none;
    }
  }
}

nav .logout .icon, .nav-dropdown .logout .icon {
  margin-left: 5px;
}

.requests-modal {
  h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  ul {
    max-height: 400px;
    overflow-y: auto;
  }
  ul > * + * {
    margin-top: 10px;
  }
  li {
    display: flex;
    justify-content: space-between;
  }
  .request {
    &__author {
      font-style: italic;
      font-weight: 600;
    }
    &__privilege {
      font-style: italic;
      font-weight: 600;
      text-transform: capitalize;
    }
    &__title {
      font-weight: 700;
    }
    &__buttons {
      margin-left: 20px;
      display: flex;
      align-items: flex-start;
    }
    &__buttons > * + * {
      margin-left: 5px;
    }
  }
  .danger {
    color: #713b2e;
  }
  @media (max-width: 470px) {
    ul > * + * {
      margin-top: 20px;
    }
    li {
      display: block;
    }
    .request__buttons {
      margin: 5px 0 0;
      //justify-content: flex-end;
    }
  }
}
