.user {
  position: relative;
  padding: 10px;
  max-width: 100%;

  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;

  &__name {
    overflow-x: auto;
    white-space: nowrap;
  }

  .star {
    margin-left: 5px;
    font-size: .7rem;
    display: grid;
    place-content: center;
  }

  input[type="color"] {
    flex: 0 0 20px;
  }

  .color-buttons {
    white-space: nowrap;
  }

  .toggles {
    display: flex;
    margin-left: auto;
  }

  .btn {
    cursor: pointer;
    margin-left: 10px;
  }

  .ban-icon {
    margin-left: 10px;
    color: #6d1a6f;
  }

  .picker {
    cursor: pointer;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .brush {
      color: black;
      position: absolute;
      width: 70%;
      height: 70%;
    }
  }

  .toggle {
    margin-left: 10px;
  }

  .suspense {
    opacity: 0.4;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &:before {
      display: block;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      content: '';
      background: repeating-linear-gradient(
                      45deg,
                      $bg-dark,
                      $bg-dark 10px,
                      #343575 10px,
                      #343575 20px
      );
      animation: move-bg linear infinite 10s;
    }
  }
}

@keyframes move-bg {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}